*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Se eliminan los botones de aumentar y disminuir en los input*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* Firefox */
}

body{
  height: 100vh;
  width: 100vw;
}

.main-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 15px;
  background-color: #f5f7fa;
  align-items: center;
  height: 50vh;
  border: 2px solid #dbdbdb;
  text-align: center;
}

.card-1{
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  width: 250px;
  padding: 5px 35px;
}

.card-1 h2{
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
}

.card-1-titulo{
  padding-top: 8px;
}

.card-1 .cantidad{
  font-weight: 600;
  font-size: 1rem;
}

.main-section .card-ingresos{
  border: 2px solid #000;
  background-color: #00171f;
  color: #fff;
}

.main-section .card-egresos{
  border: 2px solid #000;
  background-color: #fff;
  color: #00171f;
}

.container-porcentaje{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  font-size: 1rem;
  font-weight: 700;
  color: #00171f;
}

.container-porcentaje .porcentaje{
  background-color: #00171f;
  color: #fff;
  font-weight: 500;
  font-size: 0.9rem;
  padding: 5px 10px;
  border-radius: 10px;
}

.secondary-section{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 50vh;
}

.add{
  color: #00171f;
  margin-right: 10px;
}

.añadir-transaccion, .lista-transacciones{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  flex: 50%;
}

.lista-transacciones{
  justify-content: start;
  padding: 110px 0px;
}

.añadir-transaccion{
  gap: 20px;
  border-right: 2px solid #dbdbdb;
}

input{
  padding: 5px 10px;
  width: 40%;
}

select{
  padding: 5px 10px;
  width: 40%;
}

select option:first-child {
  display: none;
}

.btn-agregar{
  background-color: #00171f;
  color: #fff;
  border-radius: 10px;
  padding: 10px 30px;
}

button {
  padding: 10px 60px;
  font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #ddd;
}

button.active {
  background-color: #00171f;
  color: #fff;
  transition-duration: 0.3s;
}

.contenido {
  margin-top: 20px;
  display: none;
}

.contenido.visible {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-transacciones{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px 0 10px;
  border: 1px solid #dbdbdb;
  width: 350px;
  height: 40px;
  font-size: 1rem;
  font-weight: 600;
  color: #00171f;
}
